body {
  text-align: center;
}
span {
  display: inline-block;
  /* margin : 0 auto; */
  width: 300px;
  height: 400px;
  background-color: magenta;
}

.first {
  display: inline-block;
  width: 100px;
  height: 400px;
  background-color: gray;
}
